<ion-view view-title="DrupalCon">
  <ion-content>
    <div class="row">
      <div class="col">
        
        <div class="item item-divider text-center">ABOUT</div>
        <div class="desc-listing padding">The Drupal community is one of the largest open source communities in the world. We're developers, designers, strategists, coordinators, editors, translators, and more. Each year, we meet at DrupalCamps, meetups, and other events in more than 200 countries. But once a year, our community comes together at the biggest Drupal event in the world: DrupalCon North America. This year, from May 9-13, we'll be in New Orleans.Make something amazing, for anyone
Bring your questions and challenges. At DrupalCon, you'll learn to make, think about, and do things differently with Drupal. There are 13 session tracks, featuring topics like UX, DevOps, project management, and PHP. And each track includes sessions for beginners, experts, and everyone between. You can also join full-day summits or choose from 15 training courses. You'll leave New Orleans inspired and empowered to create amazing web experiences.</div>

        <div class="item item-divider text-center">INTRODUCE YOURSELF</div>
        <div class="desc-listing padding">The best part of DrupalCon is the people you'll meet. Finally give a high-five to people you've only known by their Drupal.org username. Get great insight from industry leaders like Sara Wachter-Boettcher, and Drupal's founder, Dries Buytaert. Ask any of the 175 speakers the questions you've had about site building, case studies, and more. And as each conference day ends, the events continue. Join us at the opening reception, meet the Women in Drupal team, or test your knowledge on trivia night. Our community is excited to meet you.</div>

        <div class="item item-divider text-center">GIVE BACK TO THE COMMUNITY</div>
        <div class="desc-listing padding">DrupalCon is an event where anyone can learn to use Drupal to make the internet a better place. And you won't have to wait until DrupalCon is over to use what you learn. Put your ideas to work right away at sprints. (Tip: you don't have to be a developer, or have ever joined a sprint before.) You can also help people feel welcome by having fun at Birds of a Feather sessions (BoF's). Some BoF's—like last year's Knitting BoF—are all about the chance to create relationships.</div>

        <div class="item item-divider text-center">ENJOY NEW ORLEANS</div>
        <div class="desc-listing padding">New Orleans has more than a few nicknames. But no matter what you call it, its history, culture, and people make it one of the most celebrated U.S. cities. The convention center is steps away from the famous French Quarter. It's also just a short ride away from the Garden District. There's more to explore than we can.</div> 
      </div>
    </div>
  </ion-content>
</ion-view>

