<ion-view view-title="About">
  <ion-content>
    <div class="row about-app">
      <div class="col">
        <div class="text-center"><img width="50%" height="50%" src="img/zyx_logo.png"></div>
        <div class="about-app-desc padding">Provides high quality, customized applications that help you acheive your unique bussiness in most efficient and user friendly manner. Our development standard caters to performance, usability, security and scalability. 
      </div>
    </div>
  </ion-content>
</ion-view>


