<ion-view view-title="DrupalCon">
    <ion-content class="ion-conference-home">
        <div class="row">
            <div class="col default-margin">
                <img width="100%" src="../img/Logo_purple.png">
            </div>
        </div>
        <div class="row ">
            <div class="col-center col-offset-20">
                <img width="50%" src="../img/sessions.png">
                <div class="col">Rooms</div>
            </div>
            <div class="col-center">
                <img width="50%" src="../img/speakers.png">
                <div class="col">Rooms</div>
            </div>
        </div>
        <div class="row">
            <div class="col-center col-offset-20">
                <img width="50%" src="../img/room.png">
                <div class="col">Rooms</div>
            </div>
            <div class="col-center ">
                <img width="50%" src="../img/Tracks.png">
                <div class="col">Rooms</div>
            </div>
        </div>
    </ion-content>
</ion-view>
