<ion-view view-title="DrupalCon: NewOrleance 2016">
    <ion-content class="ion-conference-home">
        <div class="row">
            <div class="col default-margin">
                <img width="100%" src="img/Logo_purple.png">
            </div>
        </div>
        <div class="row main-listing">
            <a class="col-center col-offset-20" href="#/app/schedules">
                <img width="50%" src="img/sessions.png">
                <div class="item-title">Sessions</div>
            </a>
            <a class="col-center" href="#/app/speakers">
                <img width="50%" src="img/speakers.png">
                <div class="item-title">Speakers</div>
            </a>
        </div>
        <div class="row main-listing">
            <a class="col-center col-offset-20" href="#/app/rooms">
                <img width="50%" src="img/room.png">
                <div class="col item-title">Rooms</div>
            </a>
            <a class="col-center " href="#/app/tracks">
                <img width="50%" src="img/Tracks.png">
                <div class="col item-title">Tracks</div>
            </a>
        </div>
    </ion-content>
</ion-view>
