<ion-modal-view>
   <ion-content class="Login_Content">
     <div class="list login_List">
        <label class="item item-input item-floating-label My_Floating_Label">
          <input type="text" class="My_textbox" placeholder="Username" ng-model="user.username">
        </label>
        <label class="item item-input item-floating-label My_Floating_Label" >
          <input class="My_textbox" type="password" placeholder="Password" ng-model="user.password">
        </label>
      </div>
      <div align="center">
        <button class="button button-calm My-login-button" ng-click="User_Login(user)">
          Login
        </button>
    </div>      
      <div align="center">
        <button class="button button-calm My-login-button" ng-click="closeModal()">
          Cancel
        </button>
    </div>
   </ion-content>
 </ion-modal-view>
