<ion-view view-title="Session" ng-controller="BookmarkCtrl">
    <ion-content>
      <div class="row session-details">
          <div class="col profile-header text-center">
            <div class="col session-title">{{program.title}}</div>
            <div class="row text-center">
              <div class="col"> On {{program.date.replace("00:00:00","").trim() | date:'d MMMM yyyy'}}</div>
              <div class="col col-50 ">{{program.startTime}} - {{program.endTime}}</div>
              <div class="col" ng-href="#/app/roomdetail/{{program.roomid}}">{{program.roomname}}</div>
            </div>

              <i ng-if="!bookmarked" class="ion-ios-bookmarks-outline" ng-click="addBookmark('session', program.id)"></i>
              <i ng-if="bookmarked" class="ion-ios-bookmarks" ng-click="removeBookmark('session', program.id)"></i>

            <div class="row">
              <div class="col col-50">{{program.experiencelevel}}</div>
              <div class="col col-50" href="#/app/trackdetail/{{program.track}}">{{program.tracktitle}}</div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <ion-list>
                <ion-item type="item-text-wrap"  class="item-listing item-remove-animate item-avatar item-icon-right" ng-repeat="speaker in speakers track by $index" href="#/app/speakerdetail/{{speaker.speakerid}}">
                    <img src="img/avatar.png">
                    <h2>{{speaker.speakername}}</h2>
                </ion-item>
            </ion-list>
          </div>
        </div>
        <div ng-if="program.desc" class="row">
          <div class="col desc-listing padding">
              {{program.desc}}
          </div>
        </div>
    </ion-content>
</ion-view>

