<ion-view view-title="SessionDetail" ng-controller="BookmarkCtrl">
    <ion-content>
      <div class="row session-details">
          <div class="col profile-header text-center">
            <div class="col session-title">{{program.title}}</div>
            <div align="center" class="Rating_Class">
               <rating ng-model="data.rating" max="data.max" ng-click="Rating(program.id)"></rating>
            </div>

            <div align="center" class="Rating_Class">
               <i class="ion" ng-class="{ 'ion-ios-star icon-colour' : average >=1,'ion-ios-star-outline icon-colour' : average < 1 }"></i>
               <i class="ion" ng-class="{ 'ion-ios-star icon-colour' : average >=2,'ion-ios-star-outline icon-colour' : average < 2 }"></i>
               <i class="ion" ng-class="{ 'ion-ios-star icon-colour' : average >=3,'ion-ios-star-outline icon-colour' : average < 3 }"></i>
               <i class="ion" ng-class="{ 'ion-ios-star icon-colour' : average >=4,'ion-ios-star-outline icon-colour' : average < 4 }"></i>
               <i class="ion" ng-class="{ 'ion-ios-star icon-colour' : average >=5,'ion-ios-star-outline icon-colour' : average < 5 }"></i>
            </div>

            <div class="row text-center program-schedule-details2">
              <div class="col col-33">On {{program.date.replace("00:00:00","").trim() | date:'d MMMM yyyy'}}</div>
              <div class="col col-33">{{program.startTime}} - {{program.endTime}}</div>
              <div class="col col-33" ng-href="#/app/roomdetail/{{program.roomid}}">{{program.roomname}}</div>
            </div>

              <i ng-if="!bookmarked" class="ion-ios-bookmarks-outline bookmark-icon" ng-click="addBookmark('session', program.id)"></i>
              <i ng-if="bookmarked" class="ion-ios-bookmarks bookmark-icon" ng-click="removeBookmark('session', program.id)"></i>

            <div class="row">
              <div class="col col-50">{{program.experiencelevel}}</div>
              <div class="col col-50" href="#/app/trackdetail/{{program.track}}">{{program.tracktitle}}</div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <ion-list>
              <ion-item type="item-text-wrap"  class="item-listing item-remove-animate item-avatar item-icon-right spkr-dtls" ng-repeat="speaker in speakers track by $index" href="#/app/speakerdetail/{{speaker.speakerid}}">
                  <img ng-if="speaker.prof_img==null ||speaker.prof_img==''" src="img/avatar.png">
                  <img ng-if="speaker.prof_img!=null ||speaker.prof_img!=''" src="{{speaker.prof_img}}">
                  <h2>{{speaker.speakername}}</h2>
                  <p class="wraper" ng-bind-html="speaker.desc | cut:true:80" ></p>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div  class="row">
          <div ng-if="program.desc" class="row">
            <div class="col desc-listing padding speaker-desc" ng-bind-html="program.desc">
            </div>
          </div>
        </div>
        <h4 class="review-header" ng-if="SessionFiles.length>0">Files</h4>
        <div class="row" ng-repeat="files in SessionFiles">
          <div class="col desc-listing padding File-Listing" ng-click="open_Browser(files.file)">
            <p>{{files.file}}</p>
          </div>
        </div>
<!-- REVIEWS  -->
      <h4 class="review-header" ng-if="reviews.length>0">Reviews</h4>
      <div class="row" ng-repeat="review in reviews">
        <div class="col desc-listing padding" >
          <h6 class="username-div">{{review.username}}</h6>
          <p ng-bind-html="review.review"></p>
        </div>
      </div>
    </ion-content>
</ion-view>
