<ion-view view-title="Sessions">
  <ion-content>    
    <ion-list>
      <ion-card ng-repeat="program in programs track by $index">
          <ion-card-content>
            <div class="title"><a ng-href="#/app/session-detail/{{program.id}}">{{program.title}}</a></div>
            <ion-col width-10>{{program.date}}</ion-col>
            <ion-col width-10>{{program.startTime}} - {{program.endTime}}</ion-col>
            <ion-col width-10><a ng-href="#/app/roomdetail/{{program.roomid}}">{{program.roomname}}</a></ion-col>
          </ion-card-content>
        </ion-card>
    </ion-list>
  </ion-content>
</ion-view>
