<ion-view view-title="Session" ng-controller="BookmarkCtrl">
    <ion-content>
       <i ng-if="!bookmarked" class="ion-ios-star-outline positive" ng-click="addBookmark('session', program.id)"></i>
       <i ng-if="bookmarked" class="ion-ios-star positive" ng-click="removeBookmark('session', program.id)"></i>
        <h2>{{program.title}}</h2>
        <div class='date'>
          {{programDate | date :'yyyy-MM-dd'}}
          {{program.startTime}} - 
          {{program.endTime}}
        </div>
        <div class='level'>
          {{program.experiencelevel}}
        </div>
        <div class='track'>
          <a href="#/app/trackdetail/{{program.track}}">
            {{program.tracktitle}}
          </a>
        </div>
        <div class='speakers' ng-repeat="speaker in speakers">
          <a href="#/app/speakerdetail/{{speaker.speakerid}}">
            {{speaker.speakername}}
          </a>
        </div>
        <div class='room'>
          <a href="#/app/roomdetail/{{program.room}}">
            {{program.roomname}}
          </a>
        </div>
        <p>{{program.desc}}</p>
    </ion-content>
</ion-view>

