<ion-view view-title="Speaker's Profile" ng-controller="BookmarkCtrl">
    <ion-content>
        <div class="row">
            <div class="col text-center item-avatar-center">
                <img width="25%" height="25%" src="img/avatar.png">
            </div>
        </div>
        <i ng-if="!bookmarked" class="ion-ios-star-outline positive" ng-click="addBookmark('speaker', detail.id)"></i>
        <i ng-if="bookmarked" class="ion-ios-star positive" ng-click="removeBookmark('speaker', detail.id)"></i>
        <div class="row">
            <div class="col profile-header text-center">
                <div class="col">
                    {{detail.name}}
                </div>
                <div class="col">
                    <i class="icon ion-bookmark"></i>
                </div>
            </div>
        </div>
        <div ng-if="detail.desgn" class="row">
            <div class="col desc-listing padding">
                <span>{{detail.desgn}}</span>
            </div>

        </div>
        <div ng-if="detail.desc" class="row">
            <div class="col desc-listing padding">
                <p>{{detail.desc}}</p>
            </div>
        </div>
        <div class="row" ng-if="programs.length" class="program-schedule">
            <div class="col">
                <div class="item item-divider text-center">
                    SESSIONS
                </div>
                <div class="item item-text-wrap" ng-repeat="program in programs track by $index"
                     >
                    <a ng-href="#/app/session-detail/{{program.id}}" class="row schedule-title">
                        <div class="col"> {{program.title}}</div>
                    </a>
                    <div class="row text-center program-schedule-details">
                        <div class="col col-25">{{program.date.replace("00:00:00","").trim() | date:'MMMM d'}}</div>
                        <div class="col col-50">{{program.startTime}} - {{program.endTime}}</div>
                        <div class="col col-25" ng-href="#/app/roomdetail/{{program.roomid}}">{{program.roomname}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
