<ion-view view-title="Speakers">
    <ion-content>
        <ion-list>
            <ion-item href="#/app/sessions" type="item-text-wrap" class="item-remove-animate item-avatar item-icon-right" ng-repeat="speaker in speakers track by $index">

                <img src="http://ionicframework.com/img/docs/venkman.jpg">
                <h2>{{speaker.name}}</h2>
                <h3>{{speaker.desgn}}</h3>
                <!--<p>{{speaker.desc}}</p>-->

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
